*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
	
	font-family: 'Montserrat', sans-serif;
	background-color:#F8EDD8;
}


h1{
	color:#ED9CCF;
	text-align: center;
	margin:1rem;
}
nav{
	background-color:#78F0AA;
	height: 3rem;
	color:#ED9CCF;

}

#admin{
	display: none;
	text-align: left;
}

input {
  border: none;
  color:#ED9CCF;
  padding: 1rem;
  text-decoration: none;
  margin: 0.2rem;
  cursor: pointer;
  font-size: inherit;

}

#cancel, #save{
width: 7rem;
background-color:#78F0AA;


}
nav li{
	height: 3rem;
	width: 6rem;
	padding: 1rem;
	float:right;
}

li{
	list-style-type: none;
	
}
img{
	height: 20rem;
	cursor:pointer;
}
section{
	text-align: center;
	
}

.side{
	display: inline-block;
	vertical-align: top;
}



#side_list{

	width: 8rem;
	background-color:#78F0AA;
	font-size: 1.5rem;
	color:#ED9CCF;
	margin:2rem;

}
#side_list li{
	padding: 1rem;
}




li:hover, nav li:hover{
	color:#78F0AA;
	background-color:#ED9CCF;
	cursor: pointer;


}


.cat_container{
	display: inline-block;
	margin:2rem;
	border:2px solid #ED9CC2;
	padding:2rem;

}
#image{
	height: 300px;
	width: 500px;

}
.name{
	padding: 1rem;
}

.counter{
	background-color: #78F0AA;
	text-align: center;
	padding:2rem;
	margin-top:2rem;
	border:10px solid #ED9CCF;
	border-radius:10px;
	height: 10rem;
	width: 15rem;
	margin:0 auto;

}
.num{
	font-size: 4rem;
}